:root{
  --baby-blue: #68BBE3;
  --blue-grotto: #0E86D4;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-grotto);
}

#root {
  padding-left: 10%;
  padding-right: 10%;
}

.app-container-container{
  padding: 5%;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

h2, h3, h4, h5, h6 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.f-size-80{
  font-size: .8rem;
}
