:root{
  --baby-blue: #68BBE3;
  --blue-grotto: #0E86D4;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-grotto);
}

#root {
  margin: 10%;
}
.app-container .collector-container, .resume-container{
  background-color: var(--baby-blue);
  padding: 2% 5% 5%;
}

.collector, 
.personal-wrapper, 
.education-wrapper,
.education-unit-wrapper, 
.workexp-wrapper
.workexp-unit-wrapper
{
  display: flex;
  flex-direction: column;
}

.education-wrapper, .workexp-wrapper{
  row-gap: 1rem;
}

.line-breaker{
  height: 4rem;
  background-color: var(--blue-grotto);
}

.qualification{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 1rem;
}

.resume-personal-base{
  text-align: center;
}

.resume-education{
  text-align: left;
}


.resume-personal-contact > * {
  text-align: center;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

h2, h3, h4, h5, h6 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.education-unit{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.education-unit-header, .education-unit-sub, .work-exp-unit-header, .work-exp-unit-sub{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section {
  border-bottom: 2px solid black;
}